.dropdown {
  width: 100%;
  font-family: "Lato", sans-serif; }
  .dropdown ul, .dropdown li {
    list-style-type: none; }
  .dropdown__switch:checked + .dropdown__options-filter .dropdown__select {
    transform: scaleY(1); }
  .dropdown__switch:checked + .dropdown__options-filter .dropdown__filter:after {
    transform: rotate(-135deg); }
  .dropdown__options-filter {
    width: 100%;
    cursor: pointer; }
  .dropdown__filter {
    position: relative;
    display: flex;
    padding: 15px;
    border: 1px solid #d6d6d6;
    border-radius: 30px;
    background-color: white;
    transition: 0.3s; }
    .dropdown__filter:focus {
      border: 1px solid #322821;
      outline: none; }
    .dropdown__filter::after {
      position: absolute;
      top: 45%;
      right: 20px;
      content: "";
      width: 10px;
      height: 10px;
      border-right: 1px solid #322821;
      border-bottom: 1px solid #322821;
      transform: rotate(45deg) translateX(-45%);
      transition: 0.2s ease-in-out; }
  .dropdown ul .dropdown__select {
    padding-left: 0; }
  .dropdown__select {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    overflow: hidden;
    transform: scaleY(0);
    transform-origin: top;
    font-weight: 300;
    transition: 0.2s ease-in-out;
    z-index: 10; }
  .dropdown__select-option {
    padding: 15px;
    background-color: #fff;
    border-bottom: 1px solid #322821;
    transition: 0.3s; }
    .dropdown__select-option:last-of-type {
      border-bottom: 0; }

.check-container {
  margin: 0;
  max-height: 34px; }

.label-text {
  top: 0;
  position: absolute; }

.check-container {
  display: block;
  position: relative;
  padding-left: 46px;
  padding-top: 0;
  user-select: none;
  cursor: pointer; }

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.7rem;
  height: 1.7rem;
  border: 1px solid #322821;
  border-radius: .5rem;
  transition: background .3s; }
  input:checked ~ .checkmark {
    background: #322821;
    border: 0; }
  input:checked ~ .checkmark::after {
    display: block; }
  .checkmark::after {
    content: '';
    width: .4rem;
    height: .8rem;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    border-radius: .3rem;
    transform: rotate(45deg);
    display: none;
    position: absolute;
    top: .4rem;
    left: .6rem; }

/* hide default checkbox */
input[type="checkbox"] {
  width: 0;
  height: 0;
  margin: -1px; }

body {
  background-color: #F1EAE1;
  font-family: "Noto Serif";
  font-size: 16px;
  color: #322821;
  /*borders and shadows*/
  /**/ }
  body .title {
    font-family: "Valisca";
    font-size: 34px;
    margin-bottom: 40px; }
  body .title-small {
    font-family: "Valisca";
    font-size: 20px;
    margin-bottom: 20px; }
  body button {
    border: none;
    background-color: transparent; }
  body a:active,
  body a:hover,
  body a {
    text-decoration: none;
    color: #322821; }
  body .my-btn {
    width: 100%;
    min-height: 50px;
    border-radius: 999px;
    border: 1px solid #322821;
    font-size: 20px; }
  body .block-rounded {
    border-radius: 50px;
    border: 1px solid #322821;
    width: 100%; }
  body .card {
    width: 100%;
    border-radius: 50px;
    overflow: hidden; }
    body .card-img-container {
      position: relative;
      padding-top: 100%; }
    body .card-img {
      top: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50px; }
    body .card-info {
      padding: 15px;
      padding-bottom: 30px; }
      body .card-info-item {
        line-height: 0.8em; }
    body .card-title {
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 0; }
    body .card .text-icon {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      body .card .text-icon-icon {
        margin-left: 10px; }
  body .shadow-btn-container {
    display: flex;
    position: relative; }
  body .my-shadow {
    opacity: 1;
    z-index: -1;
    top: 10px;
    left: 10px;
    border-radius: 999px;
    display: inline-block;
    background-color: rgba(234, 139, 27, 0.4);
    height: 100%;
    width: 100%;
    position: absolute; }
  body .bordered-img {
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50px; }
  body .border-img-container, body .border-img-container-sqr {
    border-radius: 50px;
    height: 400px;
    width: 100%;
    position: relative; }
    body .border-img-container-sqr {
      height: 0px;
      padding-top: 100%; }
  body .bordered-empty {
    background: transparent;
    border: 1px solid black; }
  body .my-border {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1px solid #322821;
    top: -10px;
    left: 10px;
    z-index: 10;
    border-radius: 50px; }
  body .icon-text {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px; }
    body .icon-text-icon {
      margin-right: 20px; }
    body .icon-text-text {
      font-size: 20px;
      text-transform: uppercase; }
  body footer {
    background-color: white; }
  body .icons-list {
    margin-top: 10px;
    display: flex;
    flex-direction: row; }
    body .icons-list img {
      margin-right: 10px; }
  body .text-l {
    font-size: 20px; }
  body .rounded-card {
    width: 100%;
    background-color: white;
    border-radius: 50px;
    padding: 30px; }
  body .tags-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  body .tag-clr-1 {
    padding: 15px;
    border-radius: 50px;
    background-color: rgba(234, 139, 27, 0.4); }
  body .tag-clr-2 {
    padding: 15px;
    border-radius: 50px;
    background-color: rgba(76, 50, 183, 0.4); }
  body .announce-form {
    width: 100%;
    background-color: white;
    border-radius: 50px;
    padding: 33.3333333333px; }
  body .announcement-card {
    border-radius: 50px;
    width: 100%;
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: row; }
  body .my-form-wrapper {
    overflow: hidden;
    border-radius: 50px; }
  body .label-input {
    margin-bottom: 10px; }
    body .label-input label {
      margin-left: 20px;
      margin-bottom: 0; }
  body .my-form {
    border-radius: 50px;
    width: 100%;
    border: 1px solid black;
    padding: 30px;
    background-color: #F1EAE1; }
    body .my-form .icon-text {
      margin-left: 20px;
      margin-bottom: 5px; }
  body input {
    width: 100%;
    border-radius: 999px;
    min-height: 50px;
    border: 1px solid #322821;
    background-color: transparent;
    padding-left: 10px;
    padding-right: 10px; }
  body .i-t-list .icon-text {
    margin-top: 5px; }
  body .input-high {
    display: flex;
    height: 100%; }
  body .text-titled {
    font-size: 20px;
    font-family: "Noto Serif";
    text-transform: uppercase; }
  body .input-solid {
    background-color: white;
    border: none;
    margin-bottom: 15px; }
  body form {
    width: 100%;
    background-color: white;
    border-radius: 50px; }
  body .submenu {
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px; }
    body .submenu-item {
      display: flex;
      flex-direction: column;
      border-radius: 50px;
      justify-content: center;
      align-items: center;
      padding: 10px; }
      body .submenu-item .active {
        border: 1px solid black; }
  body .announce-card {
    width: 100%;
    background-color: white;
    border-radius: 50px;
    padding: 33.3333333333px; }
    body .announce-card .icon-text {
      margin-bottom: 0; }

/*# sourceMappingURL=style.css.map */
