@import "constants";

.check-container{
  margin:0;
  max-height: 34px;
}

.label-text{
  top:0;
  position: absolute;
}
.check-container {
  display: block;
  position: relative;
  padding-left: 46px;
  padding-top: 0;
  user-select: none;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.7rem;
  height: 1.7rem;
  border: 1px solid $clr_3;
  border-radius: .5rem;
  transition: background .3s;

  input:checked ~ & {
    background: $clr_3;
    border: 0;
  }

  input:checked ~ &::after {
    display: block;
  }

  &::after {
    content: '';
    width: .4rem;
    height: .8rem;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    border-radius: .3rem;
    transform: rotate(45deg);
    display: none;

    position: absolute;
    top: .4rem;
    left: .6rem;
  }
}

/* hide default checkbox */
input[type="checkbox"] {
  width: 0;
  height: 0;
  margin: -1px;
}