
$clr_1: #EA8B1B;
$clr_2:#4C32B7;
$clr_3:#322821;
$clr_0:#F1EAE1;

$clr_1_t:rgba($clr_1,0.4);
$clr_2_t:rgba($clr_2,0.4);

$ff_1: "Noto Serif";
$ff_2: "Valisca";

$fs-xl: 34px;
$fs-l: 20px;
$fs-m:16px;
$fs-s:12px;
$fs-xs:10px;

$b-r: 50px;

body{
  color: $clr-3;
}


