@import "constants";

.hidden {
  display: none;
}

.pagination-container {
  max-width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  padding-top:10px;
  padding-bottom:10px;
  border-radius: $b-r;
  border:1px solid $clr_3;

  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-number,
.pagination-button{
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  margin: 0.25rem 0.25rem;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 999px;
}

.pagination-number:hover,
.pagination-button:not(.disabled):hover {
  background: #fff;
}

.pagination-number.active {
  color: #fff;
  background: $clr_3;
}
