@import "constants";

.dropdown {
  width: 100%;


  ul, li{
    list-style-type:none;
  }


  &__switch:checked + &__options-filter &__select {
    transform: scaleY(1);
  }

  &__switch:checked + &__options-filter &__filter:after {
    transform: rotate(-135deg);
  }

  &__options-filter {
    width: 100%;
    cursor: pointer;
  }

  &__filter {
    position: relative;
    display: flex;
    padding: 10px;
    min-height: 50px;
    border: 1px solid #d6d6d6;
    border-radius: 999px;
    background-color: white;
    transition: 0.3s;

    &:focus {
      border: 1px solid $clr_3;
      outline: none;
    }

    &::after {
      position: absolute;
      top: 45%;
      right: 20px;
      content: "";
      width: 10px;
      height: 10px;
      border-right: 1px solid $clr_3;
      border-bottom: 1px solid $clr_3;
      transform: rotate(45deg) translateX(-45%);
      transition: 0.2s ease-in-out;
    }
  }

  ul .dropdown__select{
    padding-left: 0;
  }

  &__select {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    overflow: hidden;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.2s ease-in-out;
    z-index: 10;
  }

  &__select-option {
    padding: 15px;
    background-color: #fff;
    border-bottom: 1px solid $clr_3;
    transition: 0.3s;


    &:last-of-type {
      border-bottom: 0;
    }

  }
}
