@import "constants";

body{
  background-color: $clr_0;
  font-family: $ff_1;
  font-size: $fs-m;

  .title{
    font-family: $ff_2;
    font-size:$fs-xl;
    margin-bottom: 40px;
  }

  button{
    border:none;
    background-color:transparent;
  }

  .my-btn{
    width:100%;
    min-height: 40px;
    border-radius: 999px;
    border: 1px solid $clr_3;
    font-size: $fs-l;
  }

  .about-card{
    padding: 15px;
    width: 100%;
    min-height: 140px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: $b-r;

    .icon{
      margin-right:20px;
    }

    }

  .rounded{
    border-radius: $b-r;
    border: 1px solid $clr_3;
    width:100%;
  }

  .cat-card{
    width: 100%;

  }
}

