doctype html
head
  meta(charset='UTF-8')
  title Title
  link(href='css/bootstrap/bootstrap.css' rel='stylesheet')
  link(href='css/style.css' rel='stylesheet')
  link(href='css/happy_stories.css' rel='stylesheet')
  link(rel='shortcut icon' href='img/paw_small.svg' type='image/x-icon')
  style.
    body{
       background-image:url(img/404_bg.png);
    }
.container-fluid(style='background-color: white;')
  .container
    .row.pt-4.pb-4
      .col-12.col-md-8
        .title(style='margin-bottom: 16px;') 404
        div &Pcy;&ocy;&khcy;&ocy;&zhcy;&iecy;, &kcy;&ocy;&tcy; &pcy;&iecy;&rcy;&iecy;&gcy;&rcy;&ycy;&zcy; &pcy;&rcy;&ocy;&vcy;&ocy;&dcy;!
        .row
          .col-12.col-sm-8.col-md-6.col-lg-5
            a(href='about.html')
              .shadow-btn-container.mt-4
                button.my-btn.toggle-form(style='z-index: 3;') &Vcy;&iecy;&rcy;&ncy;&ucy;&tcy;&softcy;&scy;&yacy; &ncy;&acy; &gcy;&lcy;&acy;&vcy;&ncy;&ucy;&yucy;
                .my-shadow-clr-1(style='z-index: 2;')
      .d-none.d-md-block.col-2
      .d-none.d-md-block.col-2
        img(src='img/paws.svg')
.container
  .row.mt-5
    .d-none.d-lg-block.col-2
    .col-12.col-lg-8
      .rounded-img
        img(src='img/404_1.png' alt='')
    .d-none.d-lg-block.col-2
include footer
script(src='js/toggle_menu.js')
script(src='js/gsap/gsap.min.js')
script(src='js/card_animation.js')
script(src='js/common_animations.js')
