footer.mt-5
  .container.pt-4.pb-4
    .row
      .col-12.col-md-3.mb-3.mb-md-0
        .title-small Наши соцсети
        div Следите за нами в соцсетях, там много чего интересного!
        .icons-list
          a(href='about.html')
            img(src='img/icon/telegram.svg')
          a(href='about.html')
            img(src='img/icon/youtube.svg')
          a(href='about.html')
            img(src='img/icon/twitter.svg')
          a(href='about.html')
            img(src='img/icon/vk.svg')
      .d-none.d-md-block.col-1
      .col-12.col-md-4
        .title-small Где мы обитаем?
        .i-t-list
          .icon-text
            img.icon-text-icon(src='img/icon/home.svg')
            div г. Минск, ул. Кальварийский проезд, д. 289
          .icon-text
            img.icon-text-icon(src='img/icon/phone.svg')
            div +375 29 768 21 56
          .icon-text
            img.icon-text-icon(src='img/icon/email.svg')
            div lapa_pomochi@gmail.com
      .d-none.d-md-block.col-1
      .d-none.d-md-flex.col-3.justify-content-end
        img(src='img/logo.svg')
    .row.pt-4
      .col-12
        div(style='width:100%; border-top:1px solid black; padding-top:20px;') Костина Юлия ФИТ 10-3
