-
  const pageTitle='Happy stories'

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title Счастливые истории
    link(href='css/bootstrap/bootstrap.css' rel='stylesheet')
    link(href='css/style.css' rel='stylesheet')
    link(href='css/happy_stories.css' rel='stylesheet')
    style.
      body{
        background-image:url(img/happy_stories_bg.png);
      }
  body
    include header
    .container-fluid(style='background-color: white;')
      .container
        .row.pt-4.pb-4
          .col-12.col-md-8
            .title У всех историй должен быть счастливый финал!
            div
              | Благодаря вашим пожертвованиям наш приют продолжат существовать, котики находить свои дома, а люди своих друзей.
          .d-none.d-md-block.col-2
          .d-none.d-md-block.col-2
            img(src='img/paws.svg')
    .container
      .row.expand-row.mb-4.mt-5
        .col-6.col-lg-4
          .border-img-container-sqr.expand-right
            img.bordered-img(src='img/happy_stories_1.jpg' alt='')
            .img-descr
              .descr-wrapper
                .title-small Гоша
                div
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolorem eos nemo odit, quam quibusdam quo? Alias et exercitationem iste laboriosam minima odit quidem tempore voluptatem. At quia quod voluptate?
        .d-none.d-lg-block.col-4
          .border-img-container-sqr.expand-center
            img.bordered-img(src='img/happy_stories_1.jpg' alt='')
            .img-descr
              .descr-wrapper
                .title-small Гоша
                div
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolorem eos nemo odit, quam quibusdam quo? Alias et exercitationem iste laboriosam minima odit quidem tempore voluptatem. At quia quod voluptate?
        .d-none.d-lg-block.col-lg-4
          .border-img-container-sqr.expand-left
            img.bordered-img(src='img/happy_stories_1.jpg' alt='')
            .img-descr
              .descr-wrapper
                .title-small Гоша
                div
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolorem eos nemo odit, quam quibusdam quo? Alias et exercitationem iste laboriosam minima odit quidem tempore voluptatem. At quia quod voluptate?
      .row.expand-row.mb-4
        .col-6.col-lg-4
          .border-img-container-sqr.expand-right
            img.bordered-img(src='img/happy_stories_1.jpg' alt='')
            .img-descr
              .descr-wrapper
                .title-small Гоша
                div
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolorem eos nemo odit, quam quibusdam quo? Alias et exercitationem iste laboriosam minima odit quidem tempore voluptatem. At quia quod voluptate?
        .d-none.d-lg-block.col-4
          .border-img-container-sqr.expand-center
            img.bordered-img(src='img/happy_stories_1.jpg' alt='')
            .img-descr
              .descr-wrapper
                .title-small Гоша
                div
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolorem eos nemo odit, quam quibusdam quo? Alias et exercitationem iste laboriosam minima odit quidem tempore voluptatem. At quia quod voluptate?
        .d-none.d-lg-block.col-lg-4
          .border-img-container-sqr.expand-left
            img.bordered-img(src='img/happy_stories_1.jpg' alt='')
            .img-descr
              .descr-wrapper
                .title-small Гоша
                div
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolorem eos nemo odit, quam quibusdam quo? Alias et exercitationem iste laboriosam minima odit quidem tempore voluptatem. At quia quod voluptate?
      .row.expand-row.mb-4
        .col-6.col-lg-4
          .border-img-container-sqr.expand-right
            img.bordered-img(src='img/happy_stories_1.jpg' alt='')
            .img-descr
              .descr-wrapper
                .title-small Гоша
                div
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolorem eos nemo odit, quam quibusdam quo? Alias et exercitationem iste laboriosam minima odit quidem tempore voluptatem. At quia quod voluptate?
        .d-none.d-lg-block.col-4
          .border-img-container-sqr.expand-center
            img.bordered-img(src='img/happy_stories_1.jpg' alt='')
            .img-descr
              .descr-wrapper
                .title-small Гоша
                div
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolorem eos nemo odit, quam quibusdam quo? Alias et exercitationem iste laboriosam minima odit quidem tempore voluptatem. At quia quod voluptate?
        .d-none.d-lg-block.col-lg-4
          .border-img-container-sqr.expand-left
            img.bordered-img(src='img/happy_stories_1.jpg' alt='')
            .img-descr
              .descr-wrapper
                .title-small Гоша
                div
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolorem eos nemo odit, quam quibusdam quo? Alias et exercitationem iste laboriosam minima odit quidem tempore voluptatem. At quia quod voluptate?
    include footer
    script(src='js/toggle_menu.js')
    script(src='js/gsap/gsap.min.js')
    script(src='js/card_animation.js')
