-
    const links = [
          {
              path:'about.html',
              title:'О нас',
              eng_title: 'About'
          },
          {
              path:'cats.html',
              title:'Ищут дом',
              eng_title: 'Cats'
          },
          {
               path:'help.html',
               title:'Помощь',
               eng_title: 'Help'
          },
          {
               path:'happy_stories.html',
               title:'Счастливые истории',
               eng_title: 'Happy stories'
          },
          {
               path:'donation.html',
               title:'Донат',
               eng_title: 'Donation'
          }
    ]

header
  .container.d-block.d-lg-none
    .row.p-3
      #toggle-menu-btn.toggle-menu-btn
        img(src='img/logo.svg')
  .container
    #toggle-menu.toggle-menu
      .row
        each link in links
            .col-12.mobile-menu-item.active
              a(href='')(class = link.eng_title==pageTitle ? "active" : "") #{link.title}
  .container.d-none.d-lg-block
    .row.pt-4.mb-5.mb-4
      .col-3
        img(src='img/logo.svg')
      .d-block.d-md-none.d-lg-block.col-1
      .col-9.col-lg-8
        .border-menu-container
          .menu-wrapper
            .menu-items
              each link in links
                - url = link.path
                a(href='').menu-item(class = link.eng_title==pageTitle ? "active" : "") #{link.title}
          .menu-shadow
